<app-boton [texto_boton] = "enviar" (click)="mostrarAlert0()"></app-boton>
<app-boton [texto_boton] = "back" (click)="mostrarAlert1()"></app-boton>
<app-boton [texto_boton] = "info" (click)="mostrarAlert2()"></app-boton>
<!-- <app-imagen [imagenCard]="srcIronman"></app-imagen>
<app-imagen [imagenCard]="srcThor"></app-imagen>
 -->
<!-- <producto [srcImagen]="imagen1" [tituloProducto]="titulo1" [precioProducto]="precio1" [categoriaProducto]="categoria1" [altProducto]="alt1"></producto>

<producto [srcImagen]="imagen2" [tituloProducto]="titulo2" [precioProducto]="precio2" [categoriaProducto]="categoria2" [altProducto]="alt2"></producto>

<producto [srcImagen]="imagen3" [tituloProducto]="titulo3" [precioProducto]="precio3" [categoriaProducto]="categoria3" [altProducto]="alt3"></producto>

<producto [srcImagen]="imagen4" [tituloProducto]="titulo4" [precioProducto]="precio4" [categoriaProducto]="categoria4" [altProducto]="alt4"></producto>

<producto [srcImagen]="imagen5" [tituloProducto]="titulo5" [precioProducto]="precio5" [categoriaProducto]="categoria5" [altProducto]="alt5"></producto>
 -->
