<!-- <h1>Lista de Productos</h1>
<ul>
  <li *ngFor="let producto of productos" (click)="productoSeleccionado = producto">
    {{ producto }}
  </li>
</ul>
 -->
<!-- La directiva *ngFor  
 
SINTAXIS -> *ngFor = " let elemento of coleccion"
-->

<!-- COMUNICACIÓN DE HIJO A PADRE 
 @Output permite que un componente hijo le envíe información a su componente padre.
 Ej: 
 app-template -> H1 saludando al usuario {{nombre}}
    app-formulario -> formulario que recohe la propiedad nombre
- SINTAXIS:
  · @Output: Se usa en el TS del componente hijo que quiere emitir un evento. Define un evento que será emitido al padre.
  · EventEmitter: Me permite emitir eventos y datos desde el componente hijo al componenete padre
  · El padre se tendrá que subscribir al evento del componente hijo para ejecutar una acción cuando reciba dicho evento



-->

<!-- <app-hijo1 [producto]="productoSeleccionado" (favorito)="recibirNotificacionFavorito($event)">
</app-hijo1> -->


<!-- COMUNICACIÓN ENTRE HERMANOS 
- Necesitamos utilizar el componente padre como intermediario para que estos dos hermanos se comuniquen
1. El hermano 1, envía datos al padre
2. El padre recogerá los datos y se lo pasará al hermano 2


<h1>Selector de Colores</h1>

<app-hijo1 (colorSeleccionado)="actualizarColor($event)"></app-hijo1>
<app-hijo2 [color]="colorSeleccionado"></app-hijo2> -->


<app-hijo1 (mensajeEnviado)="actualizarMensaje($event)"></app-hijo1>
<app-hijo2 [mensaje]="mensajeCompartido"></app-hijo2>